<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div id="map">
                    <script>
                        var Ince = {{ince |safe}};
                        var Meral = {{meral |safe}};
                        var Rte = {{rte | safe}};
                        var Selo = {{selo |safe}};
                        var Temel = {{temel |safe}};
                        var Dogu = {{dogu |safe}};

                        var votesOfInce = Object.values(Ince);
                        var votesOfMeral = Object.values(Meral);
                        var votesOfRte = Object.values(Rte);
                        var votesOfSelo = Object.values(Selo);
                        var votesOfTemel = Object.values(Temel);
                        var votesOfDogu = Object.values(Dogu);

                        var data = [
                            {Ilce_no:"7", name:"AFŞİN", lat:"38.24399316115236", lon:"36.91494364864828"},
                            {Ilce_no:"36", name:"ANDIRIN", lat:"37.57574940517555", lon:"36.349325108162766"},
                            {Ilce_no:"1027", name:"ÇAĞLAYANCERİT", lat:"37.750076874515436", lon:"37.29106662132722"},
                            {Ilce_no:"1045", name:"DULKADİROĞLU", lat:"37.587399417246296", lon:"36.96840218591887"},
                            {Ilce_no:"812", name:"EKİNÖZÜ", lat:"38.059401057101205", lon:"37.1887483782288"}
                        ]

                        var scatterData = {
                            type: "scattergeo",
                            mode: "markers",
                            lon: data.map(d => d.lon),
                            lat: data.map(d => d.lat),
                            name: data.map(d => d.name),
                            text: data.map(
                                (d, index) =>
                                  " <b> " +d.name +"</b>" +
                                  "<br> MUHARREM İNCE: " + votesOfInce[index] +
                                  "<br> MERAL AKŞENER: " + votesOfMeral[index] +
                                  "<br> RECEP TAYYİP ERDOĞAN: " + votesOfRte[index] +
                                  "<br> SELAHATTİN DEMİRTAŞ: " + votesOfSelo[index] +
                                  "<br> TEMEL KARAMOLLAOĞLU: " + votesOfTemel[index] +
                                  "<br> DOĞU PERİNÇEK: " + votesOfDogu[index]
                              ),
                            marker: {
                                size: 8,
                                color: "rgb(229,182,0)",
                                line: {
                                    width: 1,
                                    color: "rgb(0,74,208)"
                                },
                                symbol: "circle-open-dot"
                            },
                            hoverinfo: 'text',
                        };


                        var layout = {
                            title: "Kahramanmaraş İlçe Sonuçları",
                            width:1200,
                            height:500,
                            mapbox:{
                                style: "open-street-map"
                            },
                            geo: {
                                scope: "world",
                                resolution: 50,
                                showcountries: true,
                                countrycolor: 'rgb(58,30,8)',
                                showsubunits: true,
                                subunitcolor: 'rgb(52,147,32)',
                                showland: true,
                                landcolor: 'rgb(52,147,32)',
                                showcoastlines: true,
                                coastlinecolor: 'rgb(62,4,117)',
                                showocean: true,
                                oceancolor: 'rgb(2,79,138)',
                                showlakes: true,
                                lakecolor: 'rgb(36,111,227)',
                                showrivers: true,
                                rivercolor: "rgb(0,200,218)",
                                lonaxis: {
                                    range: [36, 38]
                                },
                                lataxis: {
                                    range: [37, 39]
                                }
                            }
                        };


                        var plotData = [scatterData];
                        Plotly.newPlot("map", plotData, layout);
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">ILCE NO</th>
                    <th scope="col" style="text-align: center">ILCE ADI</th>
                    <th scope="col" style="text-align: center">MUHARREM İNCE</th>
                    <th scope="col" style="text-align: center">MERAL AKŞENER</th>
                    <th scope="col" style="text-align: center">RECEP TAYYİP ERDOĞAN</th>
                    <th scope="col" style="text-align: center">SELAHATTİN DEMİRTAŞ</th>
                    <th scope="col" style="text-align: center">TEMEL KARAMOLLAOĞLU</th>
                    <th scope="col" style="text-align: center">DOĞU PERİNÇEK</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in ilce.iterrows() %}
                    <tr>
                        <td style="text-align: center">{{row['ILCE NO']}}</td>
                        <td style="text-align: center">{{row['ILCE ADI']}}</td>
                        <td style="text-align: center">{{row['MUHARREM İNCE']}}</td>
                        <td style="text-align: center">{{row['MERAL AKŞENER']}}</td>
                        <td style="text-align: center">{{row['RECEP TAYYİP ERDOĞAN']}}</td>
                        <td style="text-align: center">{{row['SELAHATTİN DEMİRTAŞ']}}</td>
                        <td style="text-align: center">{{row['TEMEL KARAMOLLAOĞLU']}}</td>
                        <td style="text-align: center">{{row['DOĞU PERİNÇEK']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>